*{
    box-sizing: border-box;
}
.custom-navbar{
    border:  1px #DBDBDB solid  ;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-bottom: 10px;
    width: 100%;
}
.custom-profile{
    width: 24px;
    height: 24px;
}
.custom-unlist{
    width: fit-content;
}
.custom-side-list{
    width: fit-content;
}
.custom-des-sidebar{
    width: fit-content;
    padding-top: 50px;
    padding-bottom: 30px;
    height: 100vh;
    position: fixed;
    top: 0;
}
.custom-des-body{
    padding-left: 24px;
}
.img-size{
    width: 54px;
        height: 24px;
}